<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Shareapp</name>

    <description>
        Shareapp 
    </description>
	<access origin="*" />
    <author href="https://projerdesign.com" email="otapia@projerdesign.com">
        OTapia
    </author>
	<feature name="SocialSharing">
	  <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
	</feature>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<gap:platform name="android" />
	<gap:plugin name="nl.x-services.plugins.socialsharing" />
</widget>
